*{
    box-sizing: border-box !important;
    margin:0 !important;
    padding:0 !important;
}
.nav-row{
    min-height:100%;
}

.arrow{
    fill: #ee4d2d;
    width:1.5625rem;
}

.login-nav{
    min-height:2.75rem;
}

.login-page{
    min-height:calc(100vh - 2.75rem);
}

.login-logo{
    fill: #ee4d2d;
    width: 49px;
}

.form-control{
    border:none !important; 
}

.login-button{
    margin-top:14px;
    border-radius: 0 !important;
    background-color: #ee4d2d;
    height: 2.5rem;
}