*{
    /* box-sizing: border-box; */
    margin:0;
    font-family: 'Dancing Script', Gill Sans, Gill Sans MT, Trebuchet MS, sans-serif;
}

.first{
    margin: 100px;
    background-color: greenyellow;
}

.second{
    margin:0px;
    background-color: red;
}
